<%- include('../../partials/header/__header-dashboard.ejs', { title: 'Ubah Kata Sandi' }) %>
<%- include('../../partials/nav-side/__nav-side-pustakawan.ejs') %>
<%- include('../../partials/messages/__messages-dashboard.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Ubah Kata Sandi</h4>
                  <p class="card-description">Masukkan kata sandi lama dan kata sandi baru</p>
                  <form action="/pustakawan/change-password" method="POST" data-loading>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group mb-3">
                          <label for="kata_sandi">Kata Sandi Lama</label>
                          <div class="password-input-wrapper">
                            <input type="password" class="form-control" id="kata_sandi" name="kata_sandi" placeholder="Masukkan kata sandi lama" value="<%= (data && data.kata_sandi) ? data.kata_sandi : '' %>" required>
                            <button type="button" class="password-toggle-btn" data-target="kata_sandi">
                              <i class="mdi mdi-eye-off"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group mb-3">
                          <label for="kata_sandi_baru">Kata Sandi Baru</label>
                          <div class="password-input-wrapper">
                            <input type="password" class="form-control" id="kata_sandi_baru" name="kata_sandi_baru" placeholder="Masukkan kata sandi baru" value="<%= (data && data.kata_sandi_baru) ? data.kata_sandi_baru : '' %>" required>
                            <button type="button" class="password-toggle-btn" data-target="kata_sandi_baru">
                              <i class="mdi mdi-eye-off"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group mb-2">
                          <label for="konfirmasi_kata_sandi_baru">Konfirmasi Kata Sandi Baru</label>
                          <div class="password-input-wrapper">
                            <input type="password" class="form-control" id="konfirmasi_kata_sandi_baru" name="konfirmasi_kata_sandi_baru" placeholder="Konfirmasi kata sandi baru" value="<%= (data && data.konfirmasi_kata_sandi_baru) ? data.konfirmasi_kata_sandi_baru : '' %>" required>
                            <button type="button" class="password-toggle-btn" data-target="konfirmasi_kata_sandi_baru">
                              <i class="mdi mdi-eye-off"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <small class="form-text text-muted">Kata sandi minimal 6 karakter, mengandung huruf besar, huruf kecil, dan angka</small>
                      </div>
                    </div>
                    <div class="d-flex mt-3">
                      <button type="submit" class="btn btn-primary mr-2">Ubah Kata Sandi</button>
                      <a href="/pustakawan/dashboard" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/script/__script-dashboard.ejs') %>