<%- include('../../../../partials/header/__headerDashboard.ejs', { title: 'Edit Lantai' }) %>
<%- include('../../../../partials/nav-side/__nav-sidePengurus.ejs') %>
<%- include('../../../../partials/messages/messagesDashboard.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Lantai</h4>
                  <form action="/pustakawan/lantai/update/<%= data.id %>" method="POST" data-loading>
                    <div class="form-group">
                      <label for="kode_lantai">Kode Lantai</label>
                      <input type="text" class="form-control" id="kode_lantai" name="kode_lantai" value="<%= data.kode_lantai %>" placeholder="Masukkan kode lantai, contoh: '001'" required>
                    </div>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                      <a href="/pustakawan/lantai" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../../../partials/script/__scriptDashboard.ejs') %>