<%- include('../../../../partials/header/__headerDashboard.ejs', { title: 'Edit Rak' }) %>
<%- include('../../../../partials/nav-side/__nav-sidePengurus.ejs') %>
<%- include('../../../../partials/messages/messagesDashboard.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Rak</h4>
                  <form action="/pustakawan/rak/update/<%= rak.id %>" method="POST" data-loading>
                    <div class="form-group">
                      <label for="id_ruangan">Ruangan</label>
                      <select class="form-control" id="id_ruangan" name="id_ruangan" required>
                        <option value="">Pilih Ruangan</option>
                        <% if (Array.isArray(ruangan) && ruangan.length) { %>
                          <% ruangan.forEach(function(item){ %>
                            <option value="<%= item.id %>" <%= rak.id_ruangan == item.id ? 'selected' : '' %>><%= item.kode_ruangan %></option>
                          <% }) %>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="kode_rak">Kode Rak</label>
                      <input type="text" class="form-control" id="kode_rak" name="kode_rak" value="<%= rak.kode_rak %>" placeholder="Masukkan kode rak, contoh: 'RK001'" required>
                    </div>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                      <a href="/pustakawan/rak" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../../../partials/script/__scriptDashboard.ejs') %>