<%- include('../../../../partials/header/__headerDashboard.ejs', { title: 'Edit Ruangan' }) %>
<%- include('../../../../partials/nav-side/__nav-sidePengurus.ejs') %>
<%- include('../../../../partials/messages/messagesDashboard.ejs') %>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Ruangan</h4>
                  <form action="/pustakawan/ruangan/update/<%= data.id %>" method="POST" data-loading>
                    <div class="form-group">
                      <label for="id_lantai">Lantai</label>
                      <select class="form-control" id="id_lantai" name="id_lantai" required>
                        <option value="">Pilih Lantai</option>
                        <% if (Array.isArray(lantai) && lantai.length) { %>
                          <% lantai.forEach(function(item){ %>
                            <option value="<%= item.id %>" <%= data.id_lantai == item.id ? 'selected' : '' %>><%= item.kode_lantai %></option>
                          <% }) %>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="kode_ruangan">Kode Ruangan</label>
                      <input type="text" class="form-control" id="kode_ruangan" name="kode_ruangan" value="<%= data.kode_ruangan %>" placeholder="Masukkan kode ruangan, contoh: 'R001'" required>
                    </div>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary mr-2">Simpan</button>
                      <a href="/pustakawan/ruangan" class="btn btn-light" data-loading>Kembali</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../../../partials/script/__scriptDashboard.ejs') %>